@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&display=swap');
body {
  /* font-family: "Lora", serif; */
  margin: 0;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  text-shadow: 1px 1px 40px;
  text-align: center;
}
h2{
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  color: black;
}

nav {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 10%;
  position: fixed;
  top: 5px;
  right: 5px;
}

.menu-control {
  margin: 10px;
  position: relative;
  border-radius: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
}
.menu-open {
  transform: translateX(0%);
  opacity: 0.9;
}
.menu a,
.menu a:focus,
.menu a:visited {
  color: white;
  display: block;
  font-size: 50px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3vh;
}
#home{
  height: 100vh;
}
.linkedin , .github, .hacker-rank{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.about-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 3;
    margin: 5%;
}
#social-media{
  display: flex;
  justify-content: center;
  gap: 5vh;
}
.home-img, .resume-img, .projects-img{
    width: 338px;
    border-radius: 5%;
    box-shadow: 0px 0px 4px;
}
#about{
  display: flex;
  align-items: center;
}
.about-right{
  flex: 5;
  display: flex;
}
.projects-img-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
}
