@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&display=swap');
body {
  margin: 0;
  background-color: beige;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  text-shadow: 1px 1px 40px;
  text-align: center;
}
h2{
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  color: black;
  margin: 3%;
}

nav {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 10%;
  position: fixed;
  top: 5px;
  right: 5px;
}

.menu-control {
  margin: 10px;
  position: relative;
  border-radius: 10%;
  cursor: cell;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transform: translateY(100%);
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.menu-open {
  transform: translateY(0%);
  opacity: 0.9;
}
.menu a, .menu a:focus, .menu a:visited{
  color: white;
  display: block;
  font-size: 50px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none; 
}
.menu a:hover{
  width: 100%;
  background-color: rgb(224, 77, 77);
  cursor: default;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#home{
  height: 100vh;
}
.linkedin , .github, .hacker-rank{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.about-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#social-media{
  display: flex;
  justify-content: center;
  gap: 5vh;
}
.home-img, .resume-img, .projects-img{
    width: 338px;
    border-radius: 5%;
    margin: 3%;
    box-shadow: 0px 0px 5px;
    
}
#about{
  display: flex;
  align-items: center;
}
.about-right{
  display: flex;
  justify-content: center;
  width: 100%;
}
.projects-img-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
}
@media screen and (max-width:500px) {
  .check-me-out, .modal{
  visibility: hidden;
}
}
@media screen and (min-width : 500px) {
  #about{
    display: flex;
    flex-direction: row;
    height: 90vh;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
  }
  .about-right{
    justify-content: center;
    flex: 4;
  }
  .about-left{
    flex: 5;
    margin: 5%;
  }
  .check-me-out{
    width: 200px;
    height: 40px;
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    visibility: visible;
  }
  .cover{
    position: fixed;
    width: 100%;
    height: 300%;
    background: rgba(52, 73, 94, 0.6);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  .modal{
    position: absolute;
    width: 400px;
    height: 300px;
    background: #d6edfc;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
  }
  .active{
    visibility: visible;
    opacity: 1;
  }
  .active + .modal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

}
